* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
  background: #d2caca;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-form {
  background: #FFFFFF;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  border: 1px solid #E8E8E8;
}

h2 {
  color: #222831;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #E8E8E8;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  background: #F8F9FA;
  color: #222831;
  transition: 0.3s ease-in;
}

input:focus {
  border-color: #A6A6A6;
  box-shadow: 0 0 6px rgba(166, 166, 166, 0.3);
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
}

.submit {
  background: #222831;
  color: white;
}

.submit:hover {
  background: #3A3F47;
}

.reset {
  background: #A6A6A6;
  color: white;
}

.reset:hover {
  background: #7D7D7D;
}